
# ==========================
# Secrets
# ==========================
.env
.env.*
!.env.example
secrets.toml

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build / Cache
# ==========================
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

# ==========================
# Logs
# ==========================
*.log
similarity.csv
similarity.npy
run_backup.py
.ipynb_checkpoints/